<div class="table-responsive" style="height: 900px;">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td style="width: 20%;">

                    <div class="navbar" style="height: 400%;">
                        <a class="navbar-brand"></a>
                        <ul class="nav navbar-brand">

                            <li class="active">

                              
                                <a routerLink="/personalinfo">PersonalInfo</a>
                            </li>
                            <li>
                                <a routerLink="/viewplan">viewplan</a>
                            </li>
                            <li>
                                <a routerLink="/gallary">gallary</a>
                            </li>
                            <li>
                                <a routerLink="/addaddress">Add Address</a>
                            </li>
                            <li>
                                <a routerLink="/home">logout</a>
                            </li>

                        </ul>
                    </div>

                </td>
            </tr>
            <tr></tr>
            <tr></tr>
        </tbody>