<h1 style="text-align: center;">R & A Photography</h1>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/login">Login</a>
        </li>
        <li>
            <a routerLink="/aboutus">aboutus</a>
        </li>
        <li>
            <a routerLink="/contactus">contactus</a>
        </li>
     
 <li>
            <a routerLink="/help">help</a>
        </li>
               </ul>
</nav>
<router-outlet></router-outlet>